WQ_BRAIN_EMAIL=
WQ_BRAIN_PASSWORD=
WQ_BRAIN_BASE_URL=https://api.worldquantbrain.com
WQ_BRAIN_REQUEST_TIMEOUT=30
WQ_BRAIN_POLL_INTERVAL=10
WQ_BRAIN_MAX_POLL_SECONDS=180
WQ_BRAIN_RATE_LIMIT_MAX_RETRIES=6
WQ_BRAIN_RATE_LIMIT_MAX_WAIT_SECONDS=90